.x-launcher {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height:200px;
    margin: -100px 0 0 -150px;

    background-color: rgba(0, 0, 0, .8);
    box-shadow: rgba(0, 0, 0, .5) 0 0 4px;
    border-radius: 10px;

    color: #fff;
    padding: 10px, ;
}

.x-launcher .x-launcher-item {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    color: #fff;
    cursor: hand;
}
.x-launcher .x-launcher-item i.fa {
    font-size: 50px;
    display: block;
    margin-top: 15px;
}
.x-launcher .x-launcher-item .x-launcher-item-title {
    font-size: 15px;
    display: block;
    color: #bbb;
}